h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}
p {
    color: white;
    text-align: center;
}
body {
    background-color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    border: 5px solid white;
    width: 70%;
}
